<div>
	<center>
	<div class="w3-panel" align="left" style="width:500px">
	
		<div class="w3-bar w3-black">
			<button ng-click="selectLoginMode(LOGIN_MODE_SIGNIN)" class="b3-bar-item w3-button">Existing User</button>
			<button ng-click="selectLoginMode(LOGIN_MODE_CREATE)" class="b3-bar-item w3-button">New User</button>
		</div>
	
		<!-- Login with Existing User -->
		<div ng-show="(loginMode == LOGIN_MODE_SIGNIN)">
			<form name="userLoginForm" class="w3-container w3-margin">
			
				<label>Username</label>
				<input name="loginUnInput" ng-model="loginUsername" class="w3-input" type="text" required>
			
				<label>Password</label>
				<input name="loginPwInput" ng-model="loginPassword" class="w3-input" type="password" required>
			
				<p>{{ authError }}</p>
			</form>

			<p class="w3-right-align">
				<button ng-disabled="!(userLoginForm.loginUnInput.$valid && userLoginForm.loginPwInput.$valid)" 
					ng-click="login()" class="w3-button w3-grey">Login</button>
			</p>
		</div>	
		
		<!-- Create a New User -->
		<div ng-show="(loginMode == LOGIN_MODE_CREATE)">
			<form name="userCreateForm" class="w3-container w3-margin">
			
				<label>New Username</label>
				<input name="createUnInput" ng-model="loginNewUsername" class="w3-input" type="text" required>
			
				<label>Password</label>
				<input name="createPwInput" ng-model="loginNewPassword" class="w3-input" type="password" required>
			
				<label>Confirm Password</label>
				<input name="createPwRetypeInput" ng-model="loginNewPasswordRetype" class="w3-input" type="password" required>
			
				<p>{{ createError }}</p>
				<p ng-show="(loginNewPassword!=loginNewPasswordRetype)"><i>Passwords must match</i></p>
			</form>

			<p class="w3-right-align">
				<button ng-disabled="!(userCreateForm.createUnInput.$valid && userCreateForm.createPwInput.$valid &&
									userCreateForm.createPwRetypeInput.$valid && (loginNewPassword==loginNewPasswordRetype))" 
					ng-click="createUsername()" class="w3-button w3-grey">Create</button>
			</p>
		</div>	
		
		
	</div>
	</center>
</div>
